<tr id="book_<%= book.id %>">
  <td><%= book.name %></td>
  <td><%= link_to 'Show', book,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %></td>
  <td><%= link_to 'Edit', edit_book_path(book),{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %></td>
  <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>